<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.linkedin.com/in/flitzoliveira/">CitiMoney</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/erro']" routerLinkActive="active">Para você</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/erro']" routerLinkActive="active">Para o seu negocio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ACESSE SUA CONTA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/erro']" routerLinkActive="active">Pessoa Fisica</a></li>
            <li><a class="dropdown-item" [routerLink]="['/erro']" routerLinkActive="active">Pessoa Juridica</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/erro']" routerLinkActive="active">Setor Publico</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [routerLink]="['/erro']" routerLinkActive="active">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<nav>
  <!--Ofertas mais visadas-->
<div class="row g-2">
  <div class="col mx-5">
    <div class="card">
      <img src="../assets/automatic-pay.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Automatic Pay</h5>
        <p class="card-text">Tenha mais tempo para viver, deixe sua burocracia diaria com a citimoney automatic pay.</p>
        <a href="#" class="btn btn-primary">Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col mx-5">
    <div class="card">
      <img src="../assets/citi-health.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Citi Health</h5>
        <p class="card-text">Saúde e coisa seria, na CitiHealth temos os melhores planos empresarial e familiar.</p>
        <a href="#" class="btn btn-primary">Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col mx-5">
    <div class="card">
      <img src="../assets/emprestimo-facil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Emprestimo Fácil</h5>
        <p class="card-text">Nunca foi tão fácil realisar seu sonho, na citimoney o emprestimento tem as melhores taxas do mercado.</p>
        <a href="#" class="btn btn-primary">Ler mais</a>
      </div>
    </div>
  </div>
</div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

